{%extends 'base.html'%}
{% load static %}
{% block content %}
{{ block.super}}
<div class="container-fluid">
    {% for image_item in images %}
    <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="card">
        <img class="img-responsive" src="{{image_item.image.url}}" alt="image" data-toggle="modal" data-target="#{{image_item.id}}" width="500px">
        <div class="card-body">
            <small class="card_text small-name">{{image_item.image_name}}</small>
            <br>
            <small class="card_text small-description">{{image_item.image_caption}}</small>
            <br>
            <small class="card_text small-location">{{image_item.image_name}}</small>
            <br>
            <small class="card_text small-date">{{image_item.post_date}}</small>
            <br>
            <small class="card_text small-date">{{image_item.user}}</small>
            <br>
            <small class="card_text small-date">{{image_item.liker}}</small>

        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
    {% endfor %}



  </div>

{% endblock %}
</div>