
<nav class="navbar">
    <section class="logo-section"><img class="logo" src="https://png2.kisspng.com/sh/87bb0ae26b2842bdeee3cb1b216cb24f/L0KzQYm3U8I4N5t2fZH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6Tflve6VmfARqbT3vf7j2TgN1cZRwfeQ2bHBqf368gfJia5I3eaYCMUGzRnA6U8A2O2kAUKMAMkK0SYGBWcAzQWI2RuJ3Zx==/kisspng-computer-icons-instagram-logo-sticker-logo-5abaca2a471106.3305389815221908902911.png"/>
      <div></div><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"/>
    </section>
    <form class="search-section">
      <input class="input-search" type="search" name="search" placeholder="Search"/>
    </form>
    <section class="icons-section">
        <a class="fa fa-compass" href="#">
        </a><a class="fa fa-heart" href="#"></a>
        <a class="fa fa-user" href="#"></a>
    </section>
  </nav>